a, body, div, footer, h1, header, html, li, nav, p, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

footer, header, nav {
    display: block
}

body {
    line-height: 1
}

ul {
    list-style: none
}

body {
    -webkit-text-size-adjust: none
}

#particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    -moz-transition: opacity 2.5s ease-in-out;
    -webkit-transition: opacity 2.5s ease-in-out;
    -ms-transition: opacity 2.5s ease-in-out;
    transition: opacity 2.5s ease-in-out;
    -moz-transition-delay: .75s;
    -webkit-transition-delay: .75s;
    -ms-transition-delay: .75s;
    transition-delay: .75s;
    z-index: 2
}

body.is-preload #particles {
    opacity: 0
}

@media screen and (max-width: 480px) {
    body, html {
        min-width: 320px
    }
}

html {
    box-sizing: border-box
}

*, :after, :before {
    box-sizing: inherit
}

body {
    background: #1b1f22
}

body.is-preload *, body.is-preload :after, body.is-preload :before {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important
}

html {
    font-size: 16pt
}

@media screen and (max-width: 1680px) {
    html {
        font-size: 12pt
    }
}

@media screen and (max-width: 736px) {
    html {
        font-size: 11pt
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 10pt
    }
}

body {
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65
}

a {
    -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-bottom-color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-bottom-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-bottom-color .2s ease-in-out;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-bottom-color .2s ease-in-out;
    border-bottom: solid 1px rgba(255, 255, 255, .5);
    text-decoration: none;
    color: inherit
}

a:hover {
    border-bottom-color: transparent
}

p {
    margin: 0 0 2rem 0
}

h1 {
    color: #fff;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    letter-spacing: .2rem
}

h1 {
    font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: .5rem
}

@media screen and (max-width: 736px) {
    h1 {
        font-size: 1.75rem;
        line-height: 1.4
    }
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5) !important;
    opacity: 1
}

:-moz-placeholder {
    color: rgba(255, 255, 255, .5) !important;
    opacity: 1
}

::-moz-placeholder {
    color: rgba(255, 255, 255, .5) !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, .5) !important;
    opacity: 1
}

ul {
    list-style: disc;
    margin: 0 0 2rem 0;
    padding-left: 1em
}

ul li {
    padding-left: .5em
}

#bg {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1
}

#bg:after, #bg:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#bg:before {
    -moz-transition: background-color 2.5s ease-in-out;
    -webkit-transition: background-color 2.5s ease-in-out;
    -ms-transition: background-color 2.5s ease-in-out;
    transition: background-color 2.5s ease-in-out;
    -moz-transition-delay: .75s;
    -webkit-transition-delay: .75s;
    -ms-transition-delay: .75s;
    transition-delay: .75s;
    background-image: linear-gradient(to top, rgba(19, 21, 25, .5), rgba(19, 21, 25, .5)), url(../images/overlay.png);
    background-size: auto, 256px 256px;
    background-position: center, center;
    background-repeat: no-repeat, repeat;
    z-index: 2
}

#bg:after {
    -moz-transform: scale(1.125);
    -webkit-transform: scale(1.125);
    -ms-transform: scale(1.125);
    transform: scale(1.125);
    -moz-transition: -moz-transform 325ms ease-in-out, -moz-filter 325ms ease-in-out;
    -webkit-transition: -webkit-transform 325ms ease-in-out, -webkit-filter 325ms ease-in-out;
    -ms-transition: -ms-transform 325ms ease-in-out, -ms-filter 325ms ease-in-out;
    transition: transform 325ms ease-in-out, filter 325ms ease-in-out;
    background-image: url(/assets/images/bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1
}

body.is-preload #bg:before {
    background-color: #000
}

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 4rem 2rem;
    z-index: 3
}

#wrapper:before {
    content: '';
    display: block
}

@media screen and (max-width: 1680px) {
    #wrapper {
        padding: 3rem 2rem
    }
}

@media screen and (max-width: 736px) {
    #wrapper {
        padding: 2rem 1rem
    }
}

@media screen and (max-width: 480px) {
    #wrapper {
        padding: 1rem
    }
}

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-transition: -moz-transform 325ms ease-in-out, -moz-filter 325ms ease-in-out, opacity 325ms ease-in-out;
    -webkit-transition: -webkit-transform 325ms ease-in-out, -webkit-filter 325ms ease-in-out, opacity 325ms ease-in-out;
    -ms-transition: -ms-transform 325ms ease-in-out, -ms-filter 325ms ease-in-out, opacity 325ms ease-in-out;
    transition: transform 325ms ease-in-out, filter 325ms ease-in-out, opacity 325ms ease-in-out;
    background-image: -moz-radial-gradient(rgba(0, 0, 0, .25) 25%, rgba(0, 0, 0, 0) 55%);
    background-image: -webkit-radial-gradient(rgba(0, 0, 0, .25) 25%, rgba(0, 0, 0, 0) 55%);
    background-image: -ms-radial-gradient(rgba(0, 0, 0, .25) 25%, rgba(0, 0, 0, 0) 55%);
    background-image: radial-gradient(rgba(0, 0, 0, .25) 25%, rgba(0, 0, 0, 0) 55%);
    max-width: 100%;
    text-align: center
}

#header > * {
    -moz-transition: opacity 325ms ease-in-out;
    -webkit-transition: opacity 325ms ease-in-out;
    -ms-transition: opacity 325ms ease-in-out;
    transition: opacity 325ms ease-in-out;
    position: relative;
    margin-top: 3.5rem
}

#header > :before {
    content: '';
    display: block;
    position: absolute;
    top: calc(-3.5rem - 1px);
    left: calc(50% - 1px);
    width: 1px;
    height: calc(3.5rem + 1px);
    background: #fff
}

#header > :first-child {
    margin-top: 0
}

#header > :first-child:before {
    display: none
}

#header .content {
    border-style: solid;
    border-color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    max-width: 100%
}

#header .content .inner {
    -moz-transition: max-height .75s ease, padding .75s ease, opacity 325ms ease-in-out;
    -webkit-transition: max-height .75s ease, padding .75s ease, opacity 325ms ease-in-out;
    -ms-transition: max-height .75s ease, padding .75s ease, opacity 325ms ease-in-out;
    transition: max-height .75s ease, padding .75s ease, opacity 325ms ease-in-out;
    -moz-transition-delay: .25s;
    -webkit-transition-delay: .25s;
    -ms-transition-delay: .25s;
    transition-delay: .25s;
    padding: 3rem 2rem;
    max-height: 40rem;
    overflow: hidden
}

#header .content .inner > :last-child {
    margin-bottom: 0
}

#header .content p {
    letter-spacing: .2rem;
    font-size: 1rem;
    line-height: 2
}

#header nav ul {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px #fff;
    border-radius: 4px
}

#header nav ul li {
    padding-left: 0;
    border-left: solid 1px #fff
}

#header nav ul li:first-child {
    border-left: 0
}

#header nav ul li a {
    display: block;
    min-width: 7.5rem;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 1.25rem 0 1.45rem;
    letter-spacing: .2rem;
    font-size: .8rem;
    border-bottom: 0
}

#header nav ul li a:hover {
    background-color: rgba(255, 255, 255, .075)
}

#header nav ul li a:active {
    background-color: rgba(255, 255, 255, .175)
}

body.is-preload #header {
    -moz-filter: blur(.125rem);
    -webkit-filter: blur(.125rem);
    -ms-filter: blur(.125rem);
    filter: blur(.125rem)
}

body.is-preload #header > * {
    opacity: 0
}

body.is-preload #header .content .inner {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0
}

@media screen and (max-width: 736px) {
    #header > * {
        margin-top: 2rem
    }

    #header > :before {
        top: calc(-2rem - 1px);
        height: calc(2rem + 1px)
    }

    #header .content .inner {
        padding: 2.5rem 1rem
    }

    #header .content p {
        line-height: 1.875
    }
}

@media screen and (max-width: 480px) {
    #header {
        padding: 1.5rem 0
    }

    #header .content .inner {
        padding: 2.5rem 0
    }

    #header nav ul {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 10rem;
        max-width: 100%
    }

    #header nav ul li {
        border-left: 0;
        border-top: solid 1px #fff
    }

    #header nav ul li:first-child {
        border-top: 0
    }

    #header nav ul li a {
        height: 3rem;
        line-height: 3rem;
        min-width: 0;
        width: 100%
    }
}

#footer {
    -moz-transition: -moz-transform 325ms ease-in-out, -moz-filter 325ms ease-in-out, opacity 325ms ease-in-out;
    -webkit-transition: -webkit-transform 325ms ease-in-out, -webkit-filter 325ms ease-in-out, opacity 325ms ease-in-out;
    -ms-transition: -ms-transform 325ms ease-in-out, -ms-filter 325ms ease-in-out, opacity 325ms ease-in-out;
    transition: transform 325ms ease-in-out, filter 325ms ease-in-out, opacity 325ms ease-in-out;
    width: 100%;
    max-width: 100%;
    margin-top: 2rem;
    text-align: center
}

#footer .copyright {
    letter-spacing: .15rem;
    font-size: .6rem;
    opacity: .75;
    margin-bottom: 0
}

body.is-preload #footer {
    opacity: 0
}